
<layout name="Index/header_footer" />
<title>分类列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span> 分类管理 <span class="c-gray en">&gt;</span> 分类列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20">
     <div class="text-c"> 
     <form action="" method="get">
    <input type="hidden" name="p" value="1" />
    <input type="text" class="input-text" style="width:250px" placeholder="输入分类名称" id="" name="cat_name" value="<?php echo I('get.cat_name'); ?>">
    <input type="text" class="input-text" style="width:250px" placeholder="上级分类的ID，0：代表顶级" id="" name="parent_id" value="<?php echo I('get.parent_id'); ?>">
     <input type="text" class="input-text" style="width:250px" placeholder="筛选选属性ID，多个ID用逗号隔开" id="search_attr_id" name="search_attr_id" value="<?php echo I('get.search_attr_id'); ?>">
        <input type="submit" class="btn btn-success" value="搜索" /><br />
                
    
    </form>
  </div>
  <div class="cl pd-5 bg-1 bk-gray">
    <span class="l">
      <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="icon-trash"></i> 批量删除</a>
      <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('750','','添加设备','__CONTROLLER__/add')"><i class="icon-plus"></i> 添加设备</a>
    </span>
    <span class="r">共有数据：<strong><?php echo count($data);?></strong> 条</span>
  </div>
  <table class="table table-border table-bordered table-hover table-bg">
    <thead>
      <tr>
        <th scope="col" colspan="6">分类管理</th>
      </tr>
      <tr class="text-c">
        <th width="25"><input type="checkbox" value="" name=""></th>
        <th>id</th>
        <th >分类名称</th>
            <th >上级分类的ID，0：代表顶级</th>
            <th >筛选选属性ID，多个ID用逗号隔开</th>
			<th width="60">操作</th>
      </tr>
    </thead>
    <tbody>
    <?php foreach ($data as $k => $v): ?>
     <tr class="text-c tron">
        <td><input type="checkbox" value="" name=""></td>
        <td><?php echo $v['id'];?></td>
       <td><?php echo str_repeat('&nbsp;', 6*$v['level']); ?>|--<?php echo $v['cat_name']; ?></td>
				<td><?php echo $v['parent_id']; ?></td>
				<td><?php echo $v['search_attr_id']; ?></td>
      
        <td class="f-14"><a title="编辑" href="javascript:;" onclick="admin_role_edit('1','750','','编辑','<?php echo U("edit?id=".$v["id"]."&p=".I("get.p",1)); ?>')" style="text-decoration:none"><i class="icon-edit"></i></a> <a title="删除" href="<?php echo U('delete?id='.$v['id'].'&p='.I('get.p',1)); ?>" onclick='return confirm("你确定要删除吗？");' class="ml-5" style="text-decoration:none"><i class="icon-trash"></i></a></td>
    </tr>
    <?php endforeach; ?>
    
    </tbody>
  </table>
</div>