


<layout name="Index/header_footer" />
<div class="pd-20">
<div class="text-c">
    <form class="Huiform" method="post" action="__SELF__">
   
        
      <input type="text" placeholder="品牌名称" name="brand_name" autocomplete="off" class="input-text" style=" width:150px"><br />
         <input type="text" placeholder="品牌网站地址" name="site_url" autocomplete="off" class="input-text" style=" width:150px"><br />
         <input type="file" placeholder="logo" name="logo" autocomplete="off"  class="input-text" style=" width:150px"><br />
      <input type="submit" class="btn btn-success" value="添加" />
      <input type="reset" class="btn" value="重置" />

    </form>
  </div>
  </div>
  <script>
// 让提交只能点一次
$(":submit").click(function(){
    var sec = 3;
    $(this).attr('disabled', 'disabled');
    $(this).val(sec + "秒之后提交");
    var _this = $(this);
    setInterval(function(){
        if(--sec==0)
            $("form[name=main_form]").submit();
        else
            _this.val(sec + "秒之后提交");
        _this.val();
    }, 1000);

});